#.github

# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Built code
dist/
**/dist/

# Dependency directories
node_modules/
**/node_modules/

# Git
.git
.gitignore

# Docker
.dockerignore
docker-compose.yml
docker/*.Dockerfile
#docker/build/postgres

# dotenv environment variable files
app/.env.local
!.env.dist