{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!
{% endblock %}

{% block body %}

	<h5 class="text-center my-3">Connexion</h5>

	<form class="loginForm border border-dark rounded m-3 p-3 " style="height: 70vh;">
		<div class="loginForm-container container">
			<div class="m-2 text-center email">
				<label for="inputLoginEmail" class="form-label ">Adresse mail</label>
				<input type="email" class="form-control w-80 mx-auto" id="inputLoginEmail" aria-describedby="emailHelp">
			</div>
			<div class="m-2 text-center " id="passGroup">
				<label for=" inputLoginPass" class=" form-label">Mot de passe</label>
				<div class="input-group">
					<input type="password" class="form-control" id="inputLoginPass"/>
					<span class="input-group-text" id="basic-addon1">
						<i class="bi bi-eye-slash" id="togglePassword"></i>
					</span>
				</div>
			</div>
			<div class="d-grid gap-2 m-2 col-3 mx-auto btnSubmitLoginform ">
				<button type="submit" class="btn btn-primary text-center" id="btnSubmitLoginform">Soumettre</button>
			</div>
		</div>
	</form>
{% endblock %}
